@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

audio[ controls], canvas, video {
    display: inline-block;
    *display:inline;
    * zoom: 1
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

html, body {
	width: 100%;
}

html {
	background: url('img/background.png') repeat;
	overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
	margin: 0 auto;
	position: relative;
}

body {
	font: 16px/1.5em "Droid Sans", serif;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

::-moz-selection { background: #e6fcb3; text-shadow: none; }
::selection { background: #e6fcb3; text-shadow: none; }

a, a:visited { color: #7ea917; }
a:hover, a:focus { color: #7ea917; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

strong {font-weight: bold;}

h1, h2, h3 { font-weight: bold;}

h1 {
	font-size: 1.5em;
	padding-bottom: .5em;
}

h2 {
	font-size: 1.15em;
	padding-bottom: .5em;
}

dfn {
	border-bottom: 1px dotted #333;
}

.tar {text-align: right;}
.tac {text-align: center;}
.tal {text-align: left;}

article {
	background: #eee;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	padding: 2%;
	margin-bottom: 1em;
}

label {
	display: block;
	font-size: .75em;
}

	label:after {
		content: ':';
	}

#page {
	position: relative;
	margin: 0 auto;
	padding: 0 10px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	min-width: 960px;
	_width: 960px;
	max-width: 1200px;
	text-align: left;
}

nav, #content {
	display: inline;
	float: left;
}

header {
	background: #333;
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	color: #fff;
	text-shadow: 1px 1px #000;
	height: 35px;
	padding: 15px 15px 0;
	margin-bottom: 2em;
}

	header h1 {
		display: inline-block;
		width: 500px;
		padding: 0;
	}

nav {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	padding: 1%;
	margin-right: 3%;
	width: 20%;
}

#content {
	width: 75%;
}

.solution {
	margin-top: 1.5em;
}

.hidden {
	display: none;
}
