<article id="lesson53">
	<h2>Aufgabe 5.3</h2>
	<p>Schreiben Sie ein PHP-Programm, das etwa folgen Funktion hat: aufgabe03.php (Das Volumen einer Kugel wird zufällig ermittelt und der Benutzer muss den Durchmesser schätzen.) Dabei müssen Sie Daten über ein Formular einlesen und weitergeben, mathematische Funktionen benutzen und Fallunterscheidungen treffen.</p>
	<div class="solution">
		
	</div>
</article>

<article id="lesson54">
	<h2>Aufgabe 5.4</h2>
	<p></p>
</article>